:root {
  --colorSlate300Transparent: rgb(203, 213, 225, 0.8);
  --colorSlate700Transparent: rgb(51, 65, 85, 0.8);
  --colorSlate100: #f1f5f9;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/burger-fries.jpg');
  background-attachment: fixed;
  background-size: cover;
}
