:root {
  --colorSlate300Transparent: rgb(203, 213, 225, 0.8);
  --colorSlate700Transparent: rgb(51, 65, 85, 0.8);
  --colorSlate100: #f1f5f9;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/burger-fries.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#myHeader {
  padding-bottom: 10px;
  width: 100%;
  background: var(--colorSlate300Transparent);
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.6);
}

.navWrap {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  box-sizing: border-box;
}

.navWrap button {
  width: 80px;
  border: 0;
  background-color: transparent;
  border-bottom: solid transparent;
  padding-bottom: 16px;
}

.navWrap button:active {
  border-bottom: solid black;
}

.navWrap button:hover {
  transform: translateY(-10%);
  box-sizing: border-box;
  text-shadow: 2px 2px 10px;
  cursor: pointer;
}

#content {
  padding: 20px;
  margin: 15px;
  background-color: var(--colorSlate700Transparent);
  color: var(--colorSlate100);
  top: 125px;
  border-radius: 12px;
}

.homeImg {
  height: 375px;
  border-radius: 20%;
}